
html{
	margin: 100px;	
}

body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
}

.main{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex:1;
}

.content1,
.content2,
.content3,
.content4{
	flex:1;
	width: 100%;
}

/*colors for debugging*/
.header{
	background: green;
}
.content1{
	background: green;
}
.content2{
	background: blue;
}
.content3{
	background: yellow;
}
.content4{
	background: red;
}
.footer{
	background: red;
}

.header{
	display: flex;
	justify-content: space-between;
}

.content1{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content2{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.subcontent2{
	display: flex;
}
.info{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content3{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.content4{
	display: flex;
	align-items:center;
	justify-content: center;
}

}

.content4left{
	display: flex;
	flex-direction: column;
}
.content4right{
	display: block;
}

.footer{
	display: flex;
	align-items: end;
	justify-content: center;
}



